<div class="col-md-6 well col-lg-offset-3">
  <form novalidate [formGroup]="searchForm">
    <div class="form-group">
      <div class="input-group">
        <div [ngClass]="{'has-error': displayMessage.dni }">
          <input type="text" name="dni" placeholder="DNI" formControlName="dni" class="form-control" maxlength="8" />
        </div>
        <span class="input-group-btn">
          <button class="btn  btn-default btn-block" [disabled]="!searchForm.valid"
          (click)="search()">Search</button>
        </span>
      </div>
      <div [ngClass]="{'has-error': displayMessage.dni }">
        <span class="help-block" *ngIf="displayMessage.dni">
          {{displayMessage.dni}}
        </span>
      </div>
    </div>
    <div class="form-group">
      <input class="form-control" placeholder="Customer Name" readonly value="{{customerName}}"/>
    </div>
  </form>
</div>
